* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

#square-1 {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

#square-2 {
    border-bottom: 1px solid #000;
}

#square-3 {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

#square-4 {
    border-right: 1px solid #000;
}

#square-6 {
    border-left: 1px solid #000;
}

#square-7 {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

#square-8 {
    border-top: 1px solid #000;
}

#square-9 {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    height: 200px;
    width: 200px;
    cursor: pointer;
}
